.DS_Store
.obsidian/hotkeys.json
.obsidian/app.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.trash/
.obsidian/vault-stats.json
index.md
.obsidian/plugins/quartz*
feedback.md
nopage.md
